#!/bin/bash
# Title:        aliases
# Description:  bash aliases that use no variables/take no args
# Author:       Spencer Sutterlin
# Email:        spencerucla@gmail.com

# Tweaks
alias cp="cp -v"
alias l='ls'
alias mkdir='mkdir -pv'
alias wget='wget -c'
alias tree='tree -Csh'
alias treed='tree -L'
alias go="gnome-open"

# Efficiency Prefs
alias tm='tmux attach || tmux new'
alias ..='cd ..'
alias top="htop"
alias mem="free -m"
alias psg="ps aux | grep -v grep | grep -e USER -e"
alias rmevenlines="sed -n 'p;n'" # odd: n;p
alias mirror_site="wget -m -p -E -k -K -np"
alias fixtext="echo -e '\xF'"
alias al="adb logcat"
alias alg="adb logcat | grep"
alias aldg="adb logcat -d | grep"
